* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------------- Header Section ----------------- */
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
  text-decoration: none;
}

#nav > li:hover > a,
.subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav li:last-child:hover .subnav {
  display: block;
}

#nav li:last-child:hover .fa-caret-down {
  color: #000;
}

#nav .subnav li {
  list-style-type: none;
}

#nav .subnav a {
  color: #000;
  display: block;
  line-height: 40px;
  padding: 0 32px;
}

#header .fa-solid {
  color: #fff;
}

.search-btn {
  float: right;
  line-height: 46px;
  padding: 0 20px;
}

.search-btn:hover {
  background-color: red;
  cursor: pointer;
}
/* ---------- End of Header Section ------------ */

/* -------------- Slider Section -------------- */
#slider {
  background-color: #fff;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/imgs/la.jpg') top center / cover no-repeat;
  position: relative;
}

#slider .text-slider {
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translate(-50%);
}

#slider .slider-heading {
  font-size: 20px;
  margin-bottom: 16px;
}

#slider .slider-title {
  font-size: 14px;
  font-weight: 700;
}
/* ------------- End of Slider Section ------------- */

/* ------------- Content Section ----------------- */
/* About Section */
.section-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 64px 0;
}

.section-content .title {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.section-content .subtitle {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

#content .desc {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 47px;
}

#content .member {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

.member p {
  margin-bottom: 15px;
}

.member img {
  width: 60%;
  border-radius: 8px;
}
/* End of About Section */

/* Tour date Section */
.tour-date {
  background-color: #000;
  color: #fff;
}

.ticket-state {
  text-align: start;
  list-style-type: none;
  margin-top: 25px;
}

.ticket-state li {
  padding: 8px 20px;
  background-color: #fff;
  color: #757575;
  border-bottom: 1px solid #ddd;
}

.ticket-state .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 4px 8px;
  margin-left: 12px;
}

.ticket-state .quantity {
  float: right;
  color: #fff;
  background-color: #000;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3px;
}

.places-list {
  padding: 32px 0;
  display: flex;
  margin: 0 -8px;
}

.place-item {
  width: 33.33%;
  padding: 0 8px;
}

.place-item img {
  width: 100%;
  display: block;
}

.place-content {
  background-color: #fff;
  color: #000;
  text-align: start;
  padding: 16px;
}

.place-content .place {
  margin-bottom: 16px;
  font-weight: 700;
}

.place-content .time {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 16px;
}

.place-content .place-desc {
  margin-bottom: 16px;
}

.place-content .buy-ticket-btn {
  border: none;
  color: #fff;
  background-color: #000;
  padding: 12px 16px;
}

.place-content .buy-ticket-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}
/* End of Tour date Section */

/* Contact Section */
.contact-content {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.contact-by {
  text-align: start;
}

.contact-by .icon-contact {
  width: 30px;
  margin-bottom: 8px;
}

.field-name {
  margin-right: 8px;
}

.field-msg {
  width: 100%;
  margin-top: 8px;
}

.input {
  padding: 8px;
}

.send-btn {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  margin-top: 20px;
  float: right;
}

.send-btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}
/* End of Contact Section */

/* Map Section */
.section-map img {
  width: 100%;
}
/* End of Map Section */
/* ------------- End of Content Section ------------- */

/* ----------------- Footer Section ----------------- */
#footer {
  padding: 64px;
}

.social-icon {
  font-size: 24px;
  opacity: 0.6;
  text-align: center;
}

.social-icon i {
  margin: 0 4px;
}

.social-icon i:hover {
  opacity: 0.4;
  cursor: pointer;
}

#footer p {
  margin: 15px;
  font-size: 15px;
  opacity: 0.6;
  text-align: center;
}

#footer a {
  text-decoration: underline;
  cursor: pointer;
}
/* -------------- End of Footer Section ----------------- */

/* -------------- Modal Section ----------------- */
.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.modal-container {
  width: 900px;
  margin: 0 auto;
}

.header-modal {
  padding: 32px;
  background-color: #009688;
  text-align: center;
  color: #fff;
  position: relative;
}

.header-modal i {
  margin-right: 8px;
}

.close-btn {
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
}

.close-btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.body-modal {
  background-color: #fff;
  padding: 0 16px;
  font-size: 15px;
}

.body-modal label {
  display: block;
  padding: 15px 0;
}

.body-modal input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.pay-btn {
  border: none;
  width: 100%;
  background-color: #009688;
  color: #fff;
  padding: 16px;
  margin-top: 24px;
}
